* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #055a05;
    --secondary-color: #2305;
    --accent1-color: #264653;
    --accent2-color: white;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    width: 100%;
    align-items: center;
}

header,
main,
footer {

    width: 840px;
    margin: 0 auto;
}

footer {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    width: 100%;
    padding: 10px;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
    text-align: center;
}

.socialmedia a {
    text-decoration: none;
    justify-content: center;
    padding: 20px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 190px;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    opacity: 0.95;
}

.hero article img {
    float: right;
    width: 125px;
}

.header_nav,
.header_nav a {
    background-color: var(--accent1-color);
    color: #fff;
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
}